{% extends 'base.html' %}
{% load blog_tags %}
{% block site_title %}
    Blog - 更改密码 - {{ site.site_name }}
{% endblock %}
{% block page_content %}

    <!-- Page Content -->
    <div class="container">

        <div class="row my-4">

            <!-- Post Content Column -->
            <div class="col-md-8 card">

                <!-- Title -->
                <h2 class="text-center">— 修改密码 —</h2>

                <hr>
                <div class="card-body px-0">
                    <form method="post" action="{% url 'account:change_password' %}?next={{ next }}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_new_password1">{{ form.new_password1.label }}</label>
                            {{ form.new_password1|widget_with_classes:'form-control' }}
                            <small id="password1Help" class="form-text text-muted">{{ form.new_password1.help_text }}.</small>
                            {{ form.new_password1.errors }}
                        </div>
                        <div class="form-group">
                            <label for="id_new_password2">{{ form.new_password2.label }}</label>
                            {{ form.new_password2|widget_with_classes:'form-control' }}
                            <small id="password2Help" class="form-text text-muted">{{ form.new_password2.help_text }}.</small>
                            {{ form.new_password2.errors }}
                        </div>
                        <button type="submit" class="btn btn-primary">修改密码</button>
                    </form>

                </div>
            </div>

            <!-- Sidebar Widgets Column -->
            {% include 'blog/side_bar.html' %}
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

{% endblock %}
