<hr>
<div class="mt-0">
    <p style="font-size: large">
        第三方登录:
    </p>
    <div>
                    <span class="mx-2">
                        <a href=""><i class="fab fa-github fa-2x"></i></a>
                    </span>
        <span class="mx-2">
                        <a href=""><i class="fab fa-weibo fa-2x"></i></a>
                    </span>
        <span class="mx-2">
                        <a href=""><i class="fab fa-weixin fa-2x"></i></a>
                    </span>
        <span class="mx-2">
                        <a href=""><i class="fab fa-qq fa-2x"></i></a>
                    </span>
    </div>
</div>
