{% extends 'account/base.html' %}
{% load static %}
{% load blog_tags %}

{% block form_content %}
    <form class="form-sign" method="post" action="{% url 'account:register' %}?to_url={{ to_url }}">
        <img class="mb-4" src="{% static 'img/header.png' %}" alt="" width="72" height="72">
        <div class="card mt-2 p-4 text-center">
            <h1 class="h3 mb-3 font-weight-normal">注册</h1>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field|widget_with_classes:'form-control' }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
            {% include 'account/../oauth/oauth.html' %}
        </div>
        <div class="card mt-2 p-2 text-center">
            <a href="{% url 'account:login' %}">已有账号，返回登录</a>
        </div>
        <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
    </form>
{% endblock %}