{% load comment_tags %}
<hr class="my-1">
<div class="media my-4">
    {#    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">#}
    <i class="fa fa-user-circle fa-3x my-1 mr-3"></i>
    <div class="media-body">
        <h5 class="mt-0" id="comment-{{ comment_item.id }}">{{ comment_item.username }}&nbsp;<small>{{ comment_item.create_time }}</small></h5>
        {{ comment_item.content }}
        {% get_article_comment_list article.id comment_item as comment_list %}
        {% for comment_item in comment_list %}
            {% include "comment/comment_item_tree.html" %}
        {% endfor %}
    </div>
</div>
