<article class="am-comment div"> <!-- 评论容器 -->
{#  <a href="">#}
{#    <img class="am-comment-avatar" alt=""/> <!-- 评论者头像 -->#}
{#  </a>#}

{#  <div class="am-comment-main"> <!-- 评论内容容器 -->#}
    <header class="am-comment-hd">
      <!--<h3 class="am-comment-title">评论标题</h3>-->
      <div class="am-comment-meta"> <!-- 评论元数据 -->
        <a href="#link-to-user" class="am-comment-author">{{ comment_item.username }}</a> <!-- 评论者 -->
        评论于 <time datetime="">{{ comment_item.create_time }}</time>
      </div>
    </header>
    <div class="am-comment-bd">{{ comment_item.content }}</div> <!-- 评论内容 -->
{#  </div>#}
</article>
<br>