{% extends 'base.html' %}
{% load blog_tags %}
{% load comment_tags %}

{% block site_title %}
    Blog - {{ article }} - {{ site.site_name }}
{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row my-4">

            <!-- Post Content Column -->
            <div class="col-md-8 card pt-4">

                <!-- Title -->
                <h1 class="">{{ article }}</h1>

                <div class="article-meta">
                    <span>日期: {{ article.pub_time }}</span>
                    <span>作者: {{ article.author }}</span>
                    <span>分类: <a href="{{ article.category.get_absolute_url }}">{{ article.category }}</a></span>
                    <span>标签:
                        {% for tag in article.tags.all %}
                            <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
                        {% endfor %}
                </span>
                    <span>阅读({{ article.views }})</span>
                    {% get_comment_count article as comment_count %}
                    <span>评论(<a href="#comments">{{ comment_count }}</a>)</span>
                </div>

                <hr>

                <!-- Preview Image -->
                {% if article.image_link %}
                    <img class="img-fluid rounded" src="{{ article.image_link }}" alt="">
                    <hr>
                {% endif %}

                <!-- Post Content -->
                {{ article.body|markdown_to_html|safe }}


                <hr>
                <!-- Pager -->
                <div class="clearfix mb-4">
                    {% if article.has_pre %}
                        <div class="float-left pl-3" style="font-size: large"><a href="{{ article.get_pre.get_absolute_url }}">&laquo; 上一篇</a></div>
                    {% endif %}
                    {% if article.has_next %}
                        <div class="float-right pr-3" style="font-size: large"><a href="{{ article.get_next.get_absolute_url }}">下一篇 &raquo;</a></div>
                    {% endif %}
                </div>
                <hr>

                <div id="comments">
                    <!-- Comments Form -->
                    {% include 'comment/post_comment.html' %}
                    <!-- Comment list-->
                    {% include 'comment/comment_list.html' %}
                </div>

            </div>

            <!-- Sidebar Widgets Column -->
            {% include 'blog/side_bar.html' %}

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}
