{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% load comment_tags %}

<!-- content srart -->
{% block content %}
<div class="am-g am-g-fixed blog-fixed blog-content">
    <div class="am-u-md-8 am-u-sm-12">
      <article class="am-article blog-article-p">
        <div class="am-article-hd">
            <h1 class="am-article-title blog-text-left"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h1>
          <p class="am-article-meta blog-text-left">
              <span><a href="{{ article.category.get_absolute_url }}" class="blog-color">
                      {{ article.category.name }} &nbsp;</a></span>-
              <span><a href="#">@{{ article.author }} &nbsp;</a></span>-
              <span> 阅读({{ article.views }}) &nbsp;</span>
              {% get_comment_count article as comment_count %}
              <span> 评论({{ comment_count }}) &nbsp;</span>
              <span>{{ article.pub_time|date:'Y/m/d' }}</span>-
              <span class="am-icon-tags"> &nbsp;
                  {% for tag in article.tags.all %}
                      <a href="{{ tag.get_absolute_url }}">#{{ tag.name }}</a>&nbsp;
                  {% endfor %}
              </span>
          </p>
        </div>
        <div class="am-article-bd blog-entry-text">
            {{ article.body|markdown_to_html|safe }}
        </div>
      </article>
        
        <hr>
        <ul class="am-pagination blog-article-margin">
          <li class="am-pagination-prev"><a href="{{ article.get_pre.get_absolute_url }}" class="">&laquo; 一切的回顾</a></li>
          <li class="am-pagination-next"><a href="{{ article.get_next.get_absolute_url }}">不远的未来 &raquo;</a></li>
        </ul>
        <hr>
    {% if article.comment_type == 'open' %}
        <div class="comment_list">
            {% include 'comment/comment_list.html' %}
            {% include 'comment/post_comment.html' %}
        </div>
    {% endif %}
    </div>

    {% include 'blog/side_bar.html' %}
</div>
{% endblock %}
<!-- content end -->

