{% load static %}
{% load blog_tags %}
<div class="am-u-md-4 am-u-sm-12 blog-sidebar">
    <div class="blog-sidebar-widget blog-bor">
        <h2 class="blog-title"><span>Views</span></h2>
        {% get_article_list '-views' 10 as article_list %}
        <ul class="am-list" style="text-align: left">
            {% for article in article_list %}
                <li><a href="{{ article.get_absolute_url }}">{{ article }}- {{ article.views }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="blog-sidebar-widget blog-bor">
        <h2 class="blog-title"><span>分类</span></h2>
        {% get_category_list as category_list %}
        <ul class="am-list" style="text-align: left">
        {% for category in category_list %}
            <li><a href="{{ category.get_absolute_url }}">{{ category }}({{ category.article__count }})</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="blog-sidebar-widget blog-bor">
        <h2 class="blog-title"><span>近期文章</span></h2>
        {% get_article_list '-pub_time' 10 as article_list %}
        <ul class="am-list" style="text-align: left">
            {% for article in article_list %}
                <li><a href="{{ article.get_absolute_url }}">{{ article }}-{{ article.pub_time|date:'Y/m/d' }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
        <h2 class="blog-title"><span>TAG cloud</span></h2>
        {% get_tag_list as tag_list %}
        <div class="am-u-sm-12 blog-clear-padding">
            {% for tag in tag_list %}
            <a href="{{ tag.get_absolute_url }}" class="blog-tag" style="font-size:  {{ tag.article__count |add:20}}px">{{ tag.name }}
                ({{ tag.article__count }})</a>
            {% endfor %}
        </div>
    </div>

</div>