{% load static %}
{% load blog_tags %}
{% get_site_info as site %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>BLOG | {{ site.site_name }}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href=" {% static 'blog/i/favicon.png' %}">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="{% static 'blog/i/app-icon72x72@2x.png' %}">
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png' %}">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" href="{% static 'blog/css/amazeui.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/app.css' %}">
</head>

<body id="blog">

{% include 'header.html' %}
<hr>
{% include 'nav.html' %}
<hr>

<!-- content srart -->
{% block content %}
{% endblock %}
<!-- content end -->

{% include 'footer.html' %}

<script src="{% static 'blog/js/jquery.min.js' %}"></script>
<script src="{% static 'blog/js/amazeui.min.js' %}"></script>
<script src="{% static 'blog/js/app.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.0/katex.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.0/katex.min.css" />
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.0/contrib/auto-render.min.js"
        onload='renderMathInElement(document.body, {
                                                delimiters: [
                                                    {left: "$$", right: "$$", display: true},
                                                    {left: "$", right: "$", display: false}
                                                ]
                                                }
            );'>
    </script>
</body>
</html>