<footer class="pt-3 pb-2 bg-dark">
    <div class="container">
    <!-- Some Icons
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        -->
        <ul class="list-inline text-center text-white">
            <li class="list-inline-item">
                <p class="m-0 copyright text-center text-white">
                    基于
                    <a class="text-white" href="https://www.djangoproject.com/" target="blank">
                        Django
                    </a>
                    构建
                </p>
            </li>
            |&nbsp;
            <li class="list-inline-item">
                <p class="m-0 copyright text-center text-white">
                    <a class="text-white" href="https://github.com/huchengbei/DjangoBlog" target="blank">
                        DjangoBlog
                    </a>
                    &copy; 2019
                </p>
            </li>
            |&nbsp;
            <li class="list-inline-item">
                <p class="m-0 copyright text-center text-white">
                    托管于
                    <a class="text-white" href="https://clout.tencent.com" target="blank">
                        腾讯云
                    </a>
                </p>
            </li>
            <li class="list-inline-item">
            <div class="site-info">
                {% if analytics_code %}
                    {{ analytics_code }}
                {% endif %}
            </div>
            </li>
        </ul>
    </div>
    <!--     /.container -->
</footer>
