<footer class="blog-footer">
<div class="site-info">
    <span>Powered by: </span>
    <a href="https://www.djangoproject.com/" rel="nofollow" target="blank">Django</a>
    &nbsp;|&nbsp;
    <span>Theme: </span>
    <a href="http://tpl.amazeui.org/content.html?7" rel="nofollow" target="blank">By 小伟</a>
    &nbsp;|&nbsp;
    <a href="https://github.com/huchengbei/DjangoBlog" rel="nofollow" target="blank">DjangoBlog</a>
    |
    <span>Hosted on: </span>
    <a href="https://aliyun.com/" rel="nofollow" target="blank">阿里云</a>
    &nbsp;|&nbsp;
    本页面加载耗时:<!!LOAD_TIMES!!>s
</div>
<div class="site-info">
    {% if analytics_code %}
        {{ analytics_code }}
    {% endif %}
</div>
</footer>
